<ul>
  {% if user.is_authenticated %}
    <li>Hello, {{ user.username }}</li>
    <li>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" value="Logout">
      </form>
    </li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'planner:register' %}">Register</a></li>
  {% endif %}
  <br>
  <li><a href="{% url 'planner:index' %}">Home</a></li>
  <li><a href="{% url 'planner:category-list' %}">Categories</a></li>
  <li><a href="{% url 'planner:budget-list' %}">Budgets</a></li>
</ul>
