{% extends 'base.html' %}

{% block content %}
  <h1>Budget list</h1>
  <a href="{% url 'planner:budget-create' %}">Create a new budget</a>
  {% if budget_list %}
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Balance</th>
        <th>Currency</th>
      </tr>
      {% for budget in budget_list %}
        {% if budget.owner.id == user.id %}
          <tr>
            <td>{{ budget.title }}</td>
            <td>{{ budget.balance }}</td>
            <td>{{ budget.balance_currency }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% else %}
    <p>There's no category to display</p>
  {% endif %}
{% endblock %}
