{% extends 'base.html' %}

{% block content %}
  <h1>Category list</h1>
  <p>
    <a class="btn btn-success" href="{% url 'planner:category-create' %}">Create new category</a>
  </p>
  {% if category_list %}
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for category in category_list %}
        {% if category.owner.id == user.id %}
          <tr>
            <td>{{ category.title }}</td>
            <td><a class="btn btn-primary" href="{% url 'planner:category-update' category.id %}">Update</a></td>
            <td><a class="btn btn-danger" href="{% url 'planner:category-delete' category.id %}">Delete</a></td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% else %}
    <p>There's no category to display</p>
  {% endif %}
{% endblock %}
