{% extends 'base.html' %}

{% block content %}
  <h1>Category list</h1>
  {% if category_list %}
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Budget name</th>
      </tr>
      {% for category in category_list %}
        {% if category.budget.owner.id == user.id %}
          <tr>
            <td>{{ category.title }}</td>
            <td>{{ category.budget.title }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% else %}
    <p>There's no category to display</p>
  {% endif %}
{% endblock %}
